.review {
    height: 100vh;
    width: auto;
    background-size: cover;
    background-position: center center;
    color: white;
    font-family: "Aleo";
    background-image: url('/img/reviewbg.png');
    display: flex;
    flex-direction: column;
    align-items: center;

    .review__h1 {
        margin: 7% 0;
        font-size: 40px;
    }

    .review__block {
        display: flex;
        flex-direction: row;
        width: 70%;
        min-width: 300px;

        .review__text {
            padding: 20px;
            min-width: 260px;
            background-color: #333333;

            .review__h6 {
                font-size: 24px;
                font-weight: lighter;
                margin: 10px 0;
            }

            p {
                font-size: 18px;
                font-weight: lighter;

            }

            p::before {
                content: open-quote;
                color: #5474FD;
                font-size: 40px;
                font-weight: bolder;
            }
        }
    }
}